html {
  background: url(../images/graffiti1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#tagline {
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 3em;
}
